<section>
  <h3>Items</h3>
  <ul class='items'>
    {{#each unboughtItems itemController='item'}}
      <li class='item'>
        <button {{action 'deleteItem'}} class='remove ui-button'>X</button>
        <div class='plus-minus'>
          <button class='ui-button minus' {{action 'decrementQuantity'}}{{bind-attr disabled=quantityIsOne}}>—</button>
          <button class='ui-button plus' {{action 'incrementQuantity'}}>+</button>
        </div>
        <span {{bind-attr class="isBought:bought"}}>
          {{#view 'item'}}{{displayTitle}}{{/view}}
        </span>
      </li>
    {{/each}}
    {{#if noItems}}<p>Let&rsquo;s go shopping!</p>{{/if}}
    {{#if allItemsBought}}<p>Great job! You&rsquo;re done!{{/if}}
  </ul>

  {{#if anyBoughtItems}}
    <h3>Bought</h3>
    <ul class='bought'>
      {{#each boughtItems itemController='item'}}
        <li>
          <span {{bind-attr class="isBought:bought"}}>
            {{#view 'item'}}{{displayTitle}}{{/view}}
          </span>
        </li>
      {{else}}
        <p>You have not yet bought anything.</p>
      {{/each}}
    </ul>
  {{/if}}
</section>
